/*Estilos Generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100%;
}

header {
    height: 15vh;
}

/*Estilos Barra de Navegacion*/

.navbar {
    height: 100%;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
}

/*Estilos Index*/

#main-index {
    height: 75vh;
    background-image: url(https://images5.alphacoders.com/983/983077.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

#seccion-index {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#h1-index {
    color: rgb(236, 224, 224);
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 60px;
}

#h2-index {
    color:rgb(236, 224, 224);
    font-family: 'Caveat', cursive;
    font-weight:700;
    font-size: 45px;
}

/*Estilos Recetas*/

.main-recetas {
    display: flex;
    height: 75vh;
    justify-content: center;
    background-color: rgb(110, 155, 141);
}

.container-recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tarjeta-recetas {
    flex: 1 0 calc(25% - 40px);
    width: 20%;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 3px solid rgb(217, 221, 203);
}

.img-tarjetas {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.tarjeta-principal {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.h2-tarjetas {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: black;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
}

.p-tarjetas {
    margin-bottom: 10px;
    font-size: 15px;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
    text-align: justify;
}

.ver-mas-recetas {
    display: inline-block;
    padding: 5px 10px;
    background-color: #e0e2d6;
    color: rgb(5, 5, 5);
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid rgb(182, 182, 190);
    text-align: center;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

/*Estilos Contacto*/

#main-contacto {
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url(https://images2.alphacoders.com/129/1295122.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#h1-contacto {
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
    font-size: 40px;
}

.formulario {
    display: grid;
    gap: 20px;
}

.categoria-formulario {
    display: grid;
    gap: 5px;
}

.categoria-formulario label {
    font-weight: bold;
    background-color: rgb(110, 155, 141);
    color: white;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.categoria-formulario input::placeholder,
.categoria-formulario textarea::placeholder {
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
    font-size: 15px;
}

.categoria-formulario input {
    padding: 10px;
    width: 100%;
    height: 60px;
    width: 500px;
}

.categoria-formulario textarea {
    padding: 10px;
    width: 100%;
    height: 150px;
    width: 500px;
}

.enviar button {
    padding: 10px 20px;
    color: white;
    background-color: rgb(110, 155, 141);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 15px 30px;
    font-size: 20px;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
}

.enviar {
    display: flex;
    justify-content: center;
}



/*Estilos Footer*/
footer {
    height: 10vh;
    background-color: rgb(179, 165, 149);
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
}

.redes-sociales {
    display: flex;
    gap: 10px;
}

.redes-sociales img {
    width: 30px;
    height: 30px;
}

.copyright {
    font-size: 14px;
    text-align: center;
    flex: 1;
    margin: 0;
    font-family: 'M PLUS 2', sans-serif;
    font-weight: 400;
}